<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="main-404">
        <div class="img-404">
            <img src="/404.svg" alt="404">
        </div>
        <div class="text-404">
            <h2>Oops... <span>Couldn't find the page you're looking for</span></h2>
        </div>
    </div>
</body>
</html>