<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <div class="popup invisible">
        <p>Field cannot be empty!</p>
    </div>

    <div class="main">
        <div class="input">
            <form action="/" method="POST">
                <input type="text" name="todo" class="todos" placeholder="Add a todo..."><br>
                <button type="submit">Add</button>
            </form>
        </div>

        <div class="lists">
            <h2>Todos</h2>
            <ul>
                <% if(lists.length > 0){ %>
                    <% lists.forEach(list => { %>
                        <li>
                            <p><%= list.todo %></p>
                        </li>
                    <% }) %>
                <% }else { %>
                    <p>Add a todo list...</p>
                <% } %>
            </ul>
        </div>
    </div>

    <script>
        const form = document.querySelector('form');
        const popup = document.querySelector('.popup');

        form.addEventListener('submit', (e) => {
            let todo = form.todo.value.trim();
            if(todo.length === 0) {
                e.preventDefault();
                popup.classList.remove('invisible');

                setTimeout(() => {
                    popup.classList.add('invisible');
                }, 3000);
            }
        });
    </script>
</body>
</html>